.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.loader {
  margin-top: 5.5px;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #ffffff;
  z-index: 1000;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.btn {
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 1010;
  padding: 5px 10px;
}
