.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #006600;
  color: #ffffff;

  img {
    height: 100%;
    width: 100%;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000099;
  color: #ffffff;
  z-index: 1000;

  img {
    height: 100%;
    width: 100%;
  }
}

.btn {
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 1010;
  padding: 5px 10px;
}
