.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #ffffff;
  z-index: 1000;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 25px sans-serif;
  color: rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 3%;
  z-index: 1010;
  padding: 5px 15px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 46px;
  backface-visibility: hidden;
  height: 46px;

  &:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
}
