html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.LandingContentFooter {
  display: flex;
  justify-content: center;
}

.FlexxaLogo {
  position: absolute;
  top: -15%;
  left: 2%;
  transform: translate3d(20px, 158px, 0px);
  cursor: pointer;
  pointer-events: all;
  height: 11%;
}

.LogoDescription {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 4.3%;
  top: -7.2%;
  font-size: 29px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#DIV_1 {
  background-color: rgba(0, 0, 0, 0.88);
  bottom: 0px;
  box-sizing: border-box;
  position: absolute;
  width: 48%;
  top: 1.5%;
  bottom: 1.5%;
  left: 2%;
  backface-visibility: hidden;
  perspective-origin: 229.247px 425.909px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 229.247px 425.909px;
  font: normal normal 400 normal 11px / normal ClarendonLTStdBold;
  z-index: 1000;
} /*#DIV_1*/

#DIV_3 {
  display: none;
}

@media only screen and (min-width: 768px) {
  #DIV_2 {
    position: absolute;
    transform-style: flat;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    font-size: 14px;
    left: 52%;
    top: 30px;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
  }
  #DIV_3 {
    display: block;
    box-sizing: bo rder-box;
    color: rgb(153, 153, 155);
    height: 0.994318px;
    left: 74.8011px;
    position: absolute;
    right: -49px;
    text-decoration: none solid rgb(153, 153, 155);
    top: 8px;
    width: 45px;
    backface-visibility: hidden;
    column-rule-color: rgb(153, 153, 155);
    perspective-origin: 22.5px 0.497159px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 22.5px 0.497159px;
    caret-color: rgb(153, 153, 155);
    background: rgb(153, 153, 155) none repeat scroll 0% 0% / auto padding-box
      border-box;
    border: 0px none rgb(153, 153, 155);
    font: normal normal 400 normal 14px / normal ClarendonLTStdBold;
    outline: rgb(153, 153, 155) none 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    word-spacing: 2px;
  }
}

@media only screen and (max-width: 880px) {
  #A_5 {
    display: none;
  }
  #DIV_6 {
    display: none;
  }
}

#A_5 {
  box-sizing: border-box;
  color: rgb(250, 250, 255);
  display: node;
  position: absolute;
  left: 3%;
  bottom: 2%;
  text-decoration: none solid rgb(253, 253, 255);
  width: 111.946px;
  backface-visibility: hidden;
  column-rule-color: rgb(153, 153, 155);
  perspective-origin: 55.9659px 6.81818px;
  transform-origin: 55.973px 6.81818px;
  caret-color: rgb(252, 252, 255);
  border: 0px none rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#DIV_6 {
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
  left: 52%;
  bottom: 20px;
  color: rgb(255, 255, 255);
  opacity: 1;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 1px;
}

#DIV_7 {
  position: absolute;
  bottom: 32%;
  left: 7.5%;
  flex-direction: row;
  transform: translate3d(0px, 0px, 0px);
  height: 5%;
  width: 10%;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  border: 1.2px solid white;
  border-radius: 25px;
  transition: width 500ms;

  p {
    display: none;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    right: 5%;
    top: 29%;
  }
}

#SPAN_11 {
  color: rgb(255, 250, 110);
  font-weight: bold;
  cursor: pointer;
  font: 40px ClarendonLTStdBold;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 2px;
  position: absolute;
  width: 75%;
  top: 35%;
  left: 8%;
}

#SPAN_20 {
  color: aliceblue;
  line-height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 8%;
  width: 75%;
}

.dot,
.dot:before,
.dot:after {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 20px;
  background-color: #ffffff;
}

.dot {
  top: 40%;
  left: 46%;
}

.dot:before,
.dot:after {
  content: '';
}

.dot:before {
  right: 15px;
  transition: right 0.3s ease-out;
}

.dot:after {
  left: 15px;
  transition: left 0.3s ease-out;
}

#DIV_7:hover {
  width: 25%;
  p {
    display: block;
  }
  .dot:before {
    right: -25px;
  }
  .dot:after {
    left: -25px;
  }
  .dot {
    left: 20%;
  }
}

@media only screen and (max-width: 975px) {
  #SPAN_11 {
    top: 25%;
  }
  #SPAN_20 {
    top: 50%;
  }

  #DIV_7 {
    bottom: 20%;
    border: 0px;
    p {
      display: none;
    }
  }
}
