.card {
  transition: all 0.3s linear;
  height: 100%;
  width: 110%;
  background-color: #f3f3f3;
}

.cards-slider-wrapper {
  position: absolute;
  left: -3%;
  transition: transform 1.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  justify-content: center;
  height: 105%;
  width: 110%;
  bottom: -3%;
  .card {
    transition: opacity 0.5s linear;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 110%;
    }
  }
}

$i: 0;
@for $i from 0 through 29 {
  .cards-slider.active-slide-#{$i} #card-#{$i} {
    opacity: 1;
    animation: flow 1.1s ease-in-out;
  }
}

.col {
  &:before,
  &:after {
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &:after {
    left: auto;
    right: 0;
  }
}

.cards-slider {
  &:after {
    display: block;
    width: 100%;
    position: absolute;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 3%;
  z-index: 1010;
  padding: 5px 15px;
  border-radius: 50%;
  background-color: rgba(231, 229, 229, 0.5);
  width: 50px;
  backface-visibility: hidden;
  height: 50px;
  border: none;
  outline: inherit;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
}

.prev {
  top: 77%;
}

.next {
  top: 71%;
}

@keyframes flow {
  50% {
    margin-top: -11%;
  }
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px rgb(0, 0, 0) solid;
  border-bottom: 2px rgb(0, 0, 0) solid;
}

.arrow {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2.5px rgb(255, 255, 255) solid;
  border-bottom: 2.5px rgb(0, 0, 0) solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

.rotate {
  transform: rotate(225deg);
}

@keyframes arrow {
  0% {
    opacity: 0.1;
    border-bottom: 2.5px rgba(207, 0, 0, 0.753) solid;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    border-bottom: 2.5px rgba(207, 0, 0, 0.753) solid;
  }
}
